/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("//portal.fondy.eu/mportal/static/saas/fondy/css/style.css");

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p, span, div {font-family: 'Roboto', sans-serif;}
.text_mini_end {font-size: 18px;}

.recommend_time{font-size: 14px;}


.btn_social_practic {color: #46d444;}


#certificate_divider {height: 2500px;}

.end_marafon_or {margin-top: 10px; margin-bottom: 10px;}
.certificate_back {position: absolute; top: 0px; left: 0px;}
#detox_certificate_name, #detox_mini_certificate_name {position: absolute; top: 160px; left: 100px; font-size: 19px; font-weight: bold; width: 400px; font-family: 'Baloo Bhai', cursive;}
#family_certificate_name {position: absolute; top: 175px; left: 70px; font-size: 22px; font-weight: bold; width: 460px; font-family: 'Baloo Bhai', cursive;}
#detox_certificate, #detox_mini_certificate {width: 595px; height: 842px;}
#family_certificate {width: 595px; height: 842px;}


#partner_link_text {color: rgba(0,0,0,0.25);}


.bs_table_header {background-color: rgba(255, 126, 42, 0.85);}

#wake_up_text, #wake_up_tomorrow {font-size: 12px;}
.diary_header, .diary_body, .settings_div {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(232, 229, 225, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.diary_friends {
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgba(101, 232, 83, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.div_partner {
    height: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(232, 229, 225, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.error_background {margin: 20px;  background-color: white;}
.diary_body {margin-top: 20px ;}
.diary_body_name {margin-top: 0px !important;}
.marafon_name {margin-bottom: 15px;}
#user_programm_day, #user_programm_day_mini, #user_programm_day_family, #user_programm_day_time, #user_programm_day_detox_mini, #user_programm_day_ananda, #user_programm_day_10days, #user_programm_day_kaoshiki{
    font-size: 22px;  margin-top: 15px; margin-bottom: 10px;
    display:flex; flex-direction: row; justify-content: center; align-items: center;}
#user_current_day_kaoshiki, #user_current_day_10days, #user_current_day, #user_current_day_mini, #user_current_day_family, #user_current_day_time, #user_current_day_detox_mini, #user_current_day_ananda {margin-left: 5px; margin-right: 5px}
.btns_unicorn_padding {
    padding-left:  5px;
    padding-right: 5px;
}
#div_btn_hyls_store {margin-top: 30px;}
#btn_hyls_store {border: 0;}

.user_ava {width: 130px; height: 130px;}
.field_target  {margin-top: 10px; height: 80px !important; overflow: auto}

.rating_cup {width: 50px; height: auto;}
#btn_rating_link {font-size: 12px !important;}




.material_new {display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: #79b23f;
    color: #ffffff;
}

.div_material_unread {background-color: rgba(59, 155, 0, 0.1)
}



#load_logo     {
    width: 414px;
    height: 164px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration:    2s;
    -o-animation-duration:      2s;
    animation-duration:         2s;}

#page_user_main {margin-bottom: 15px;}
.yoga_color {color: #46d444}
.black_color {color: #000000}
.family_color {color: #000000}
.payment_header_family {font-size: 38px; color: #f980d9 !important; margin-bottom: 24px;}
.payment_header {font-size: 38px; color: #46d444 !important; margin-bottom: 24px;}
.payment_text   {font-size: 20px; }
.currency_text   {font-size: 12px; }

.btn-flat{ text-align: center !important;}

.btn_reg_next {width: 150px !important;}
#div_reg_other {border-bottom: 25px solid transparent;}
.payment_header.other {margin-left: 20px; margin-top: 10px; margin-bottom: 10px;}
.payment_text.other   {margin-left: 20px; margin-top: 20px; border-bottom: 50px;}
.pay_img        {width: 84px; height: 84px;}
.db_row_pay_img      {border: 0; width:  130px; }
.pay_confirm_input   {width:  100%; }
.btn_orange_style {font-weight: bold; color: whitesmoke}
.btns_next_material, .btns_quiz { margin-top: 10px;
}
.orange_color            {color: rgb(255, 127, 76)}
.reg_link            {color: rgb(255, 127, 76)}
#btn_rating_link     {font-size: 24px; color: rgb(121, 178, 63)}

.marafon_name {font-weight: bold; margin-top: 5px;}

.progress {margin-top: 8px; margin-bottom: 0 !important;}
.column_rating_place {max-width: 50px; width: 50px}
.column_rating_name  {max-width: 180px; width: 180px}
.column_rating_link  {max-width: 190px; width: 190px}

.btn_practise {margin-top: 20px !important; font-size: 16px; padding-left: 10px; padding-right: 10px;}
.btn_footer {margin-bottom: 10px !important; font-size: 16px; padding-left: 5px; padding-right: 5px;}
.pay_other_method_row {height: 180px !important;}


#text_white_page {border: 20px solid transparent}

.conv_vk_users_wait {padding: 0 !important;}


.social_btn {width: 66%}
#btn_social_practic, #btn_hyls_report, #btn_social_practic_mini {padding-left: 0 !important;  font-size: 17px;}


.img_reg {padding-bottom: 10px; padding-top: 10px;}
.db_row_dialog {font-size: 17px;}


#sertifacate_detox_end {margin-top: 10px; margin-bottom: 10px}
#btn_meditation_edit, #btn_kaoshiki_edit {height: 66px !important;}

.question_mini {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(70, 216, 70, 0.15)
}



.question_background{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(70, 216, 70, 0.14)
}


#question_kaoshiki_extra,#question_kaoshiki_time,#question_10days_main_reg, #question_10days_main_wait, #question_10days_halfbath, #table_question_detox, #detox_settings, #table_question_therapy, #practise_continue_settings, #table_question_water, #table_question_wake_up {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(70, 216, 70, 0.14)
}
.base_settings, #table_question_half_bath {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(70, 162, 216, 0.15)
}

#div_settings_payment, #question_meditation_ananda, #question_kaoshiki_ananda, #question_kirtan_ananda  {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(216, 143, 91, 0.25)
}

.div_change_pass{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(246, 161, 105, 0.17);
    margin-bottom: 25px !important;
}





.row_family_nonviolence{
    padding: 15px;
 }

.row_family_generosity, .row_family_purity{margin-top: 15px !important;
    padding: 15px;
    }
.family_practic_name{margin-top: 0px !important;}
.family_practise_divider{width: 100%; height: 1px; border: 1px solid rgba(0, 0, 0, 0.69);}
#field_family_nonviolence_action, #field_family_generosity_action, #field_family_purity_action, #field_family_convergence_action, #field_family_speech_action , #field_family_meaningful_action, #field_family_success_action, #field_family_empathy_action, #field_family_shine_action { margin-top: 15px;}


.checkbox_div   {align-content: center}

.no-spinners {
    -moz-appearance:textfield;
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {  resize: none;
    overflow: hidden;
    min-height: 50px;}


#filed_day_comment, #filed_day_comment_mini , #field_day_comment_family    {width: 100%; height: 50px;}
.family_practise_input    {width: 100%; max-width: 100%; min-height: 50px; max-height: 150px;}
.db_row_input_family_name    {height: 100% !important; vertical-align: baseline}

.mini_practise_input    {width: 100%; max-width: 100%; min-height: 50px;}



#table_programm_main  {margin-left: 20px; margin-right: 20px;}

#group_modal_body    {height: 400px;}
#modal_to_group_body, #modal_to_group_body_all {height: 300px;}

.wake_up_string {font-size: 14px;}
.field_wake_up {width: 30px}
.field_percent {width: 35px}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}








#table_users_register  {margin-left: 15px; margin-right: 15px;}
#table_users_pay       {margin-left: 15px; margin-right: 15px;}


.db_lot_row {font-size: 12px;}



.db_content  {margin-left: 20px; margin-right: 20px;}
.db_main_row {font-size: 10px;}


.row_detox           {border: 0; width:  50%;   }
.db_row_input        {border: 0; padding: 0; width:  105px; }
.div_row_fact {align-items: center; align-content: center;}
.div_row_progress {align-items: center; align-content: center; width: 100%}
.db_row_input_admin  {border: 0; width:  200px; padding-left: 10px;}


.diary_mini_day       {width: 44px; max-width: 44px !important;}
.diary_mini_procent   {width: 90px; max-width: 90px !important;}


div.reg-header {
    margin-top: 20px;
    margin-bottom: 0.45em;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
    color: #363636;
}

button.btn_reg {
    max-width: 150px;
    margin-top: 10px;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Fix styles user_marafon_start
 */
div#user_marafon_start div.pretty {
    margin-right: 0;
}

div#user_marafon_start div.state {
    margin: -10px 0;
    padding: 0;
}

div#user_marafon_start td.db_row_input div.pretty:nth-child(2) {
    margin-left: 20px;
}

div#user_marafon_start table.table > tbody > tr > td {
    vertical-align: text-top;
}

div#user_marafon_start td.db_row_input {
    text-align: center;
}

a.reg-link-text {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 12px;
}



button.btn_reg {
    max-width: 150px;
}

/**
 * Registration steps
 */
ul.reg-list {
    list-style: none;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.7;
}

ul.reg-list li {
    list-style-type: none;
}

ul.reg-list li:before {
    content: "";
    width: 9px;
    height: 1px;
    margin-left: -15px;
    margin-right: 11px;
    display: inline-block;
    background-color: #000000;
    vertical-align: middle;
}

div.reg-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 24px;
}

a.reg-link-text {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 12px;
}



button.btn_reg {
    max-width: 150px;
}

/**
 * Registration steps
 */
ul.reg-list {
    list-style: none;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.7;
}

ul.reg-list li {
    list-style-type: none;
}

ul.reg-list li:before {
    content: "";
    width: 9px;
    height: 1px;
    margin-left: -15px;
    margin-right: 11px;
    display: inline-block;
    background-color: #000000;
    vertical-align: middle;
}



a.reg-link-text {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 12px;
}






















.icon_question {margin-left: 5px; width: 20px; height: 20px;}

.reg_mini_practic_text  {padding-top: 15px; margin-left: 5px;  font-size: 25px;}
.buy_mini_practic_text  { margin-left: 5px;  margin-top: 5px; font-size: 20px; line-height: 35px; height: 35px; }
.reg_practiv_div, .buy_practiv_div  {margin-left: 45px; line-height: 35px;}
#reg_mini_cost, #buy_mini_cost{font-size: 35px; color:  #46d444; padding-bottom: 20px;}


.reg_practiv_div div.pretty {
    margin-right: 0;
}

.reg_practiv_div div.state {
    margin: -10px 0;
    padding: 0;
    padding-bottom: 10px;
}

.reg_practiv_div td.db_row_input div.pretty:nth-child(2) {
    margin-left: 20px;
}

.reg_practiv_div table.table > tbody > tr > td {
    vertical-align: text-top;
}

.reg_practiv_div td.db_row_input {
    text-align: center;
}



.buy_practiv_div div.pretty {
    margin-right: 0;
}

.cb_buy_mini.state {
    margin: -10px 0;
    margin-top: -10px !important;
    padding: 0;
    padding-bottom: 10px;
}

.cb_buy_mini:nth-child(2) {
    margin-left: 20px;
    margin-top: -10px !important;
}

.buy_practiv_div{
    vertical-align: text-top;
}

. {
    margin-bottom: 5px !important;
}



#settings_mini div.pretty {
    margin-right: 0;
}
#settings_mini div.state {
    margin: -10px 0;
    padding: 0;

}
#settings_mini td.db_row_input div.pretty:nth-child(2) {
    margin-left: 20px;
}
#settings_mini table.table > tbody > tr > td {
    vertical-align: text-top;
}
#settings_mini td.db_row_input {
    text-align: center;
}

.db_row_dialog div.pretty {
    margin-right: 0;
}
.db_row_dialog div.state {
    margin: -10px 0;
    padding: 0;

}
.db_row_dialog td.db_row_input div.pretty:nth-child(2) {
    margin-left: 20px;
}
.db_row_dialog table.table > tbody > tr > td {
    vertical-align: text-top;
}
.db_row_dialog td.db_row_input {
    text-align: center;
}



























.comment_field {position: relative;}
.loader_ball    {position: absolute; right: 5px; top: 5px; height: 45px; width: 45px;}
.loader_tick    {position: absolute; right: 15px; top: 5px; height: 20px; width: 20px;}


.error_text{padding-right: 10px; padding-left: 10px; font-size: 14px;}





















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
