/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("//portal.fondy.eu/mportal/static/saas/fondy/css/style.css");

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p, span, div {font-family: 'Roboto', sans-serif;}

.yoga_color {color: #46d444}
.black_color {color: #000000}
.payment_header {font-size: 38px; color: #46d444 !important; margin-bottom: 24px;}
.payment_text   {font-size: 20px; }
.currency_text   {font-size: 12px; }

.btn_reg_next {width: 150px !important;}
#div_reg_other {border-bottom: 25px solid transparent;}
.payment_header.other {margin-left: 20px; margin-top: 10px; margin-bottom: 10px;}
.payment_text.other   {margin-left: 20px; margin-top: 20px; border-bottom: 50px;}
.pay_img        {width: 84px; height: 84px;}
.db_row_pay_img      {border: 0; width:  130px; }
.pay_confirm_input   {width:  100%; }
.reg_link            {color: rgb(255, 127, 76)}
#btn_rating_link            {font-size: 24px; color: rgb(121, 178, 63)}

.progress {margin-top: 8px; margin-bottom: 0 !important;}
.column_rating_place {max-width: 50px; width: 50px}
.column_rating_name  {max-width: 180px; width: 180px}
.column_rating_link  {max-width: 190px; width: 190px}

.btn_footer {margin-bottom: 10px !important;}
.pay_other_method_row {height: 180px !important;}


#text_white_page {border: 20px solid transparent}

.conv_vk_users_wait {padding: 0 !important;}


.social_btn {width: 66%}


.img_reg {padding-bottom: 10px; padding-top: 10px;}
.db_row_dialog {font-size: 17px;}


#table_question_detox, #detox_settings, #table_question_therapy {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(70, 216, 70, 0.15)
}
.base_settings, #table_question_half_bath {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(70, 162, 216, 0.15)
}

#div_settings_payment {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(216, 143, 91, 0.25)
}

#div_change_pass{
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(216, 143, 91, 0.25);
    margin-bottom: 25px !important;
}

.checkbox_div   {align-content: center}

.no-spinners {
    -moz-appearance:textfield;
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#filed_day_comment    {width: 100%; height: 100px;}

#table_programm_main  {margin-left: 20px; margin-right: 20px;}

#group_modal_body    {height: 400px;}
#modal_to_group_body, #modal_to_group_body_all {height: 300px;}

.wake_up_string {font-size: 14px;}
.field_wake_up {width: 30px}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.db_lot_row {font-size: 12px;}



.db_content  {margin-left: 20px; margin-right: 20px;}
.db_main_row {font-size: 10px;}


.row_detox           {border: 0; width:  50%;   }
.db_row_input        {border: 0; padding: 0; width:  100px; }
.div_row_fact {align-items: center; align-content: center;}
.db_row_input_admin  {border: 0; width:  200px; padding-left: 10px;}






div.reg-header {
    margin-top: 46px;
    margin-bottom: 0.45em;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
    color: #363636;
}

button.btn_reg {
    max-width: 150px;
    margin-top: 10px;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Fix styles user_marafon_start
 */
div#user_marafon_start div.pretty {
    margin-right: 0;
}

div#user_marafon_start div.state {
    margin: -10px 0;
    padding: 0;
}

div#user_marafon_start td.db_row_input div.pretty:nth-child(2) {
    margin-left: 20px;
}

div#user_marafon_start table.table > tbody > tr > td {
    vertical-align: text-top;
}

div#user_marafon_start td.db_row_input {
    text-align: center;
}

a.reg-link-text {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 12px;
}

div.reg-header {
    margin-top: 46px;
    margin-bottom: 0.45em;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
    color: #363636;
}

button.btn_reg {
    max-width: 150px;
}

/**
 * Registration steps
 */
ul.reg-list {
    list-style: none;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.7;
}

ul.reg-list li {
    list-style-type: none;
}

ul.reg-list li:before {
    content: "";
    width: 9px;
    height: 1px;
    margin-left: -15px;
    margin-right: 11px;
    display: inline-block;
    background-color: #000000;
    vertical-align: middle;
}

div.reg-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 24px;
}

a.reg-link-text {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 12px;
}

div.reg-header {
    margin-top: 46px;
    margin-bottom: 0.45em;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
    color: #363636;
}

button.btn_reg {
    max-width: 150px;
}

/**
 * Registration steps
 */
ul.reg-list {
    list-style: none;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.7;
}

ul.reg-list li {
    list-style-type: none;
}

ul.reg-list li:before {
    content: "";
    width: 9px;
    height: 1px;
    margin-left: -15px;
    margin-right: 11px;
    display: inline-block;
    background-color: #000000;
    vertical-align: middle;
}



a.reg-link-text {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.76;
    margin-bottom: 12px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
